.slide {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.slide_allow {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.left_allow {
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  left: 0;
}

.right_allow {
  border-right: 4px solid #000000;
  border-top: 4px solid #000000;
  right: 0;
}

.slide_images_wrapper {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide_images_wrapper_box {
  position: relative;
  width: 100%;
}

.slide_images_wrapper_box_image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all 0.8s;
}

.slide_rules {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.slide_rules_item {
  border: 2px solid #000000;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 0 15px;
}
